# Logs
logs
*.log

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# Next.js
.next

# Supabase
/supabase/.temp

# dependencies
node_modules
.pnp
.pnp.js

# testing
/audits
/coverage
/tmp

# next.js
/.next/
/out/

# production
/build

# TypeScript incremental build cache
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
.lint-report.json
.lint-summary.json
